<%- include('partials/logged-in-header') -%>

<div class="container card-container">
  <div class="row justify-content-center">
      <div class="col-6">
          <div class="mt-5">
            <h2>Share your knowledge!</h2>
            <form action="/post/createPost" enctype="multipart/form-data" method="POST">
              <div class="mb-3">
                  <label for="title" class="form-label">Post Title</label>
                  <input type="text" class="form-control" id="title" name="title">
              </div>
              <div class="mb-3">
              <label for="tag" class="form-label">Choose a tag that for what kind of aspect of programming this is relevant to</label>
              <select class="form-select" aria-label="Default select example" id="tag" name="tag">
                <option selected>Select tag</option>
                <option value="CSS">CSS</option>
                <option value="HTML">HTML</option>
                <option value="JavaScript">JavaScript</option>
                <option value="Node">Node</option>
                <option value="Express">Express</option>
                <option value="MongoDB and Mongoose">MongoDB and Mongoose</option>
                <option value="React">React</option>
                <option value="Job Hunt Prep">Job Hunt Prep</option>
                <option value="Job Postings">Job Postings</option>

              </select>
              </div>
              <div class="mb-3">
                <label for="caption" class="form-label">Caption</label>
                <textarea class="form-control" id="caption" name="caption"></textarea>
              </div>
              <div class="mb-3">
                <label for="source" class="form-label">Source Link</label>
                <textarea class="form-control" id="source" name="source" placeholder="Paste the link to this tool/tip/trick." rows="5"></textarea>
              </div>
              <div class="mb-3">
                <label for="ankiQuestion" class="form-label">ANKI Question</label>
                <textarea class="form-control" id="ankiQuestion" name="ankiQuestion" placeholder="Create an ANKI question for this post." rows="5"></textarea>
              </div>
              <div class="mb-3">
                <label for="imgUpload" class="form-label">Image</label>
                <input type="file" class="form-control" id="imageUpload" name="file">
              </div>
              <button type="submit" class="btn btn-primary" value="Upload">Submit</button>
            </form>
          </div>
      </div>
    </div>
  </div>

<%- include('partials/footer') -%> 